<app-filters fxLayoutAlign="center left" (outputParent)="getOutputValue($event)"></app-filters>
<div fxLayout="row" fxLayoutAlign="center center">
  <ngx-charts-line-chart
    [view]="[1200, 600]"
    [scheme]="colorScheme"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [results]="multi"
    (select)="onSelect($event)"
    (activate)="onActivate($event)"
    (deactivate)="onDeactivate($event)"
    style="fill: white;"
  >
  </ngx-charts-line-chart>
</div>
